[*.lua]
indent_style = space
indent_size = 4
quote_style = single
table_separator_style = comma
continuation_indent = 4
end_of_line = auto
trailing_table_separator = smart
insert_final_newline = true
remove_call_expression_list_finish_comma = true
end_statement_with_semicolon = same_line
space_around_table_field_list = true
space_inside_function_param_list_parentheses = false
space_inside_square_brackets = false
space_around_table_append_operator = false # t[#t + 1]
align_continuous_assign_statement = true
align_continuous_rect_table_field = false
align_continuous_line_space = 1
align_array_table = false
align_chain_expr = only_call_stmt
align_array_table = contain_curly
align_continuous_inline_comment = true
align_chain_expr = none
line_space_after_if_statement = min(2)
line_space_after_do_statement = min(2)
line_space_after_while_statement = min(2)
line_space_after_repeat_statement = min(2)
line_space_after_for_statement = min(2)
line_space_after_local_or_assign_statement = keep
line_space_after_function_statement = min(2)
line_space_after_expression_statement = keep
line_space_after_comment = keep
line_space_around_block = fixed(1)
break_all_list_when_line_exceed = true
